In [1]:
#installing tensorflow

#bellow command were executed on wsl terminal

#conda install -c conda-forge cudatoolkit=11.8.0
#python3 -m pip install nvidia-cudnn-cu11==8.6.0.163
#pip install --upgrade pip
#python3 -m pip install tensorflow==2.12.*

In [2]:
#installing packages
!python3 -m pip install -q -U watermark
!python3 -m pip install -U pip
!python3 -m pip install -U matplotlib
!python3 -m pip install scikit-learn
!python3 -m pip install pandas

/bin/bash: /home/bruno/miniconda3/envs/tf/lib/libtinfo.so.6: no version information available (required by /bin/bash)
/bin/bash: /home/bruno/miniconda3/envs/tf/lib/libtinfo.so.6: no version information available (required by /bin/bash)
Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Requirement already satisfied: pip in /home/bruno/miniconda3/envs/tf/lib/python3.9/site-packages (24.0)
/bin/bash: /home/bruno/miniconda3/envs/tf/lib/libtinfo.so.6: no version information available (required by /bin/bash)
Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Collecting matplotlib
  Downloading matplotlib-3.8.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.8 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.2.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.8 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.51.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (159 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 159.5/159.5 kB 14.9 MB/s eta 0:00:00
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.5-cp39-cp39-manylinux_2_12_x86_64.manylinux2010_x86_64.whl.metadata (6.4 kB)
Requirement already satisfied: numpy>=1.21 in /home/bruno/miniconda3/envs/tf/lib/python3.9/site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in /home/bruno/miniconda3/envs/tf/lib/python3.9/site-packages (from matplotlib) (23.2)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-10.3.0-cp39-cp39-manylinux_2_28_x86_64.whl.metadata (9.2 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.1.2-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in /home/bruno/miniconda3/envs/tf/lib/python3.9/site-packages (from matplotlib) (2.8.2)
Collecting importlib-resources>=3.2.0 (from matplotlib)
  Downloading importlib_resources-6.4.0-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: zipp>=3.1.0 in /home/bruno/miniconda3/envs/tf/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib) (3.17.0)
Requirement already satisfied: six>=1.5 in /home/bruno/miniconda3/envs/tf/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.8.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 40.1 MB/s eta 0:00:0000:0100:01
Downloading contourpy-1.2.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (304 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 305.0/305.0 kB 75.2 MB/s eta 0:00:00
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.51.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.6/4.6 MB 46.5 MB/s eta 0:00:00a 0:00:01
Downloading importlib_resources-6.4.0-py3-none-any.whl (38 kB)
Downloading kiwisolver-1.4.5-cp39-cp39-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 60.1 MB/s eta 0:00:00
Downloading pillow-10.3.0-cp39-cp39-manylinux_2_28_x86_64.whl (4.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.5/4.5 MB 42.9 MB/s eta 0:00:00a 0:00:01
Downloading pyparsing-3.1.2-py3-none-any.whl (103 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 103.2/103.2 kB 399.6 MB/s eta 0:00:00
Installing collected packages: pyparsing, pillow, kiwisolver, importlib-resources, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.2.1 cycler-0.12.1 fonttools-4.51.0 importlib-resources-6.4.0 kiwisolver-1.4.5 matplotlib-3.8.4 pillow-10.3.0 pyparsing-3.1.2
/bin/bash: /home/bruno/miniconda3/envs/tf/lib/libtinfo.so.6: no version information available (required by /bin/bash)
Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Collecting scikit-learn
  Downloading scikit_learn-1.4.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.19.5 in /home/bruno/miniconda3/envs/tf/lib/python3.9/site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.6.0 in /home/bruno/miniconda3/envs/tf/lib/python3.9/site-packages (from scikit-learn) (1.13.0)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.4.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.2/12.2 MB 36.9 MB/s eta 0:00:00a 0:00:01
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 301.8/301.8 kB 97.4 MB/s eta 0:00:00
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.4.2 threadpoolctl-3.5.0
/bin/bash: /home/bruno/miniconda3/envs/tf/lib/libtinfo.so.6: no version information available (required by /bin/bash)
Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Collecting pandas
  Downloading pandas-2.2.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.22.4 in /home/bruno/miniconda3/envs/tf/lib/python3.9/site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/bruno/miniconda3/envs/tf/lib/python3.9/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/bruno/miniconda3/envs/tf/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 41.3 MB/s eta 0:00:00a 0:00:01
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 505.5/505.5 kB 70.2 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 97.3 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.2 pytz-2024.1 tzdata-2024.1

In [1]:
#Imports

#Data visualization and manipulation
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

#Image handling
import os
import sklearn
from PIL import Image
from sklearn.model_selection import train_test_split

#Utility and calculation
import itertools
from sklearn.utils.multiclass import unique_labels
from sklearn.utils import shuffle

#Deep learning
import tensorflow
import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv2D, MaxPooling2D, MaxPool2D
from tensorflow.keras.layers import Flatten, Dense
from tensorflow.keras.layers import Dropout, Activation
from tensorflow.keras.layers import BatchNormalization, GlobalAveragePooling2D, Concatenate
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.callbacks import ReduceLROnPlateau
from keras.utils import to_categorical
from keras.applications import InceptionV3
from keras.applications.inception_v3 import preprocess_input

#Disabling Pandas and Matplotslib warnings
#import sys
#import warnings
#import matplotlib.cbook
#if not sys.warnoptions:
#    warnings.simplefilter("ignore")
#warnings.simplefilter(action='ignore', category=FutureWarning)
#warnings.filterwarnings("ignore", category=FutureWarning)
#warnings.filterwarnings("ignore", category=matplotlib.cbook.MatplotlibDeprecationWarning)

#%matplotlib inline

2024-05-19 16:42:41.216408: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-05-19 16:42:42.127398: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:

#Package versions in this Jupyter notebook
%reload_ext watermark
%watermark -a "Bruno Castro - MBA USP ESALQ" --iversions

Author: Bruno Castro - MBA USP ESALQ

numpy     : 1.24.3
keras     : 2.12.0
PIL       : 10.3.0
sklearn   : 1.4.2
pandas    : 2.2.2
matplotlib: 3.8.4
tensorflow: 2.12.1

In [5]:
#List hardware available
from tensorflow.python.client import device_lib
print(device_lib.list_local_devices())

[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 2569115555365076647
xla_global_id: -1
, name: "/device:GPU:0"
device_type: "GPU"
memory_limit: 5863636992
locality {
  bus_id: 1
  links {
  }
}
incarnation: 223428398860296771
physical_device_desc: "device: 0, name: NVIDIA GeForce RTX 3060 Ti, pci bus id: 0000:06:00.0, compute capability: 8.6"
xla_global_id: 416903419
]

2024-05-18 21:27:21.061271: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:982] could not open file to read NUMA node: /sys/bus/pci/devices/0000:06:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-05-18 21:27:21.183498: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:982] could not open file to read NUMA node: /sys/bus/pci/devices/0000:06:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-05-18 21:27:21.183566: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:982] could not open file to read NUMA node: /sys/bus/pci/devices/0000:06:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-05-18 21:27:21.342334: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:982] could not open file to read NUMA node: /sys/bus/pci/devices/0000:06:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-05-18 21:27:21.342427: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:982] could not open file to read NUMA node: /sys/bus/pci/devices/0000:06:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-05-18 21:27:21.342436: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1722] Could not identify NUMA node of platform GPU id 0, defaulting to 0.  Your kernel may not have been built with NUMA support.
2024-05-18 21:27:21.342482: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:982] could not open file to read NUMA node: /sys/bus/pci/devices/0000:06:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-05-18 21:27:21.342509: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1635] Created device /device:GPU:0 with 5592 MB memory:  -> device: 0, name: NVIDIA GeForce RTX 3060 Ti, pci bus id: 0000:06:00.0, compute capability: 8.6

In [6]:
import tensorflow as tf
print("Number of available GPUs: ", len(tf.config.experimental.list_physical_devices('GPU')))

Number of available GPUs:  1

2024-05-18 21:27:29.034516: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:982] could not open file to read NUMA node: /sys/bus/pci/devices/0000:06:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-05-18 21:27:29.034644: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:982] could not open file to read NUMA node: /sys/bus/pci/devices/0000:06:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-05-18 21:27:29.034691: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:982] could not open file to read NUMA node: /sys/bus/pci/devices/0000:06:00.0/numa_node
Your kernel may have been built without NUMA support.

In [7]:
#List code of each GPU
tf.config.list_physical_devices('GPU')

[PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

In [3]:
#Load BCN2000 metadata
dataset = pd.read_csv("BCN20000/ISIC_2019_Training_GroundTruth.csv")

In [4]:
#printing dataset
dataset.head()

          image  MEL   NV  BCC   AK  BKL   DF  VASC  SCC  UNK
0  ISIC_0000000  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
1  ISIC_0000001  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
2  ISIC_0000002  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
3  ISIC_0000003  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
4  ISIC_0000004  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0

In [6]:
#Checking number of images in each category
#MEL = Melanoma
dataset.NV.value_counts()

NV
1.0    12875
0.0    12456
Name: count, dtype: int64

In [7]:
#NV= Melanocytic nevus
dataset.MEL.value_counts()

MEL
0.0    20809
1.0     4522
Name: count, dtype: int64

In [8]:
#BCC = Basal cell carcioma
dataset.BCC.value_counts()

BCC
0.0    22008
1.0     3323
Name: count, dtype: int64

In [9]:
#AK = Actinic keratosis
dataset.AK.value_counts()

AK
0.0    24464
1.0      867
Name: count, dtype: int64

In [10]:
#BKL Benign keratosis 
dataset.BKL.value_counts()

BKL
0.0    22707
1.0     2624
Name: count, dtype: int64

In [11]:
#DF = Dermatofibroma
dataset.DF.value_counts()

DF
0.0    25092
1.0      239
Name: count, dtype: int64

In [12]:
#VASC = Vascular lesion
dataset.VASC.value_counts()

VASC
0.0    25078
1.0      253
Name: count, dtype: int64

In [13]:
#SCC = Squarnous cell carcioma
dataset.SCC.value_counts()

SCC
0.0    24703
1.0      628
Name: count, dtype: int64

In [14]:
#UNK = None of the others
dataset.UNK.value_counts()

UNK
0.0    25331
Name: count, dtype: int64

In [4]:
#Reworking dataset for model: creata a single column with the category of the cancer
dataset['Cancer_cat'] = dataset.iloc[:,1:].idxmax(axis = 1)

dataset.head()

          image  MEL   NV  BCC   AK  BKL   DF  VASC  SCC  UNK Cancer_cat
0  ISIC_0000000  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0         NV
1  ISIC_0000001  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0         NV
2  ISIC_0000002  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0        MEL
3  ISIC_0000003  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0         NV
4  ISIC_0000004  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0        MEL

In [5]:
#remove unecessary categpry columns
dataset = dataset.drop(['MEL', 'NV', 'AK', 'BCC', 'BKL', 'DF', 'VASC', 'SCC', 'UNK'], axis = 1)

In [18]:
#Verify dataset form
dataset.head()

          image Cancer_cat
0  ISIC_0000000         NV
1  ISIC_0000001         NV
2  ISIC_0000002        MEL
3  ISIC_0000003         NV
4  ISIC_0000004        MEL

In [19]:
#Verify amount of images on each category
dataset['Cancer_cat'].value_counts()

Cancer_cat
NV     12875
MEL     4522
BCC     3323
BKL     2624
Name: count, dtype: int64

In [6]:
#Remove categories with low sample numbers
dataset = dataset[dataset.Cancer_cat != 'DF']
dataset = dataset[dataset.Cancer_cat != 'VASC']
dataset = dataset[dataset.Cancer_cat != 'SCC']
dataset = dataset[dataset.Cancer_cat != 'AK']

In [7]:
#Label encoding
dataset['Cancer_cat_code'] = pd.Categorical(dataset['Cancer_cat']).codes
dataset.head()

          image Cancer_cat  Cancer_cat_code
0  ISIC_0000000         NV                3
1  ISIC_0000001         NV                3
2  ISIC_0000002        MEL                2
3  ISIC_0000003         NV                3
4  ISIC_0000004        MEL                2

In [25]:
#Get list of images
Image_list = os.listdir("BCN20000/ISIC_2019_Training_Input/")

Image_list[1:10]

['ISIC_0000000.jpg',
 'ISIC_0000001.jpg',
 'ISIC_0000002.jpg',
 'ISIC_0000003.jpg',
 'ISIC_0000004.jpg',
 'ISIC_0000006.jpg',
 'ISIC_0000007.jpg',
 'ISIC_0000008.jpg',
 'ISIC_0000009.jpg']

In [26]:
#Check number of images
len(Image_list)

25333

In [12]:
#Add column with image paths to dataset

dataset['image_path'] = "BCN20000/ISIC_2019_Training_Input/" + dataset['image'] + '.jpg'


dataset.head()

,image,Cancer_cat,Cancer_cat_code,image_path
0,ISIC_0000000,NV,3,BCN20000/ISIC_2019_Training_Input/ISIC_0000000...
1,ISIC_0000001,NV,3,BCN20000/ISIC_2019_Training_Input/ISIC_0000001...
2,ISIC_0000002,MEL,2,BCN20000/ISIC_2019_Training_Input/ISIC_0000002...
3,ISIC_0000003,NV,3,BCN20000/ISIC_2019_Training_Input/ISIC_0000003...
4,ISIC_0000004,MEL,2,BCN20000/ISIC_2019_Training_Input/ISIC_0000004...

In [14]:
#Separate dataseet in NV category and non NV category
ds_NV = dataset[dataset['Cancer_cat'] == 'NV']

ds_noNV = dataset[dataset['Cancer_cat'] != 'NV']

#Shuffle NV dataset and extract 4750 samples to balance with other classes

ds_NV = shuffle(ds_NV)

ds_NV = ds_NV.head(4750)

ds_NV = ds_NV.reset_index(drop = True)

In [15]:
dataset_adjusted = pd.concat([ds_NV, ds_noNV])

dataset_adjusted.Cancer_cat.value_counts()

Cancer_cat
NV     4750
MEL    4522
BCC    3323
BKL    2624
Name: count, dtype: int64

In [16]:
#Extract NC categorys from adjusted dataset, and select 250 randon samples for the test dataset
ds_NV = dataset_adjusted[dataset_adjusted['Cancer_cat'] == 'NV']
ds_NV = shuffle(ds_NV)
ds_NV = ds_NV.head(250)
ds_NV = ds_NV.reset_index(drop = True)

#Extract MEL categorys from adjusted dataset, and select 250 randon samples for the test dataset
ds_MEL = dataset_adjusted[dataset_adjusted['Cancer_cat'] == 'MEL']
ds_MEL = shuffle(ds_MEL)
ds_MEL = ds_MEL.head(250)
ds_MEL = ds_MEL.reset_index(drop = True)

#Extract BCC categorys from adjusted dataset, and select 250 randon samples for the test dataset
ds_BCC = dataset_adjusted[dataset_adjusted['Cancer_cat'] == 'BCC']
ds_BCC = shuffle(ds_BCC)
ds_BCC = ds_BCC.head(250)
ds_BCC = ds_BCC.reset_index(drop = True)

#Extract BKL categorys from adjusted dataset, and select 250 randon samples for the test dataset
ds_BKL = dataset_adjusted[dataset_adjusted['Cancer_cat'] == 'BKL']
ds_BKL = shuffle(ds_BKL)
ds_BKL = ds_BKL.head(250)
ds_BKL = ds_BKL.reset_index(drop = True)

In [17]:
# merge 250 samples from each category to create test dataset
ds_test = pd.concat([ds_NV, ds_MEL, ds_BCC,ds_BKL])
ds_test = shuffle(ds_test)
ds_test = ds_test.reset_index(drop = True)
ds_test.Cancer_cat.value_counts()

Cancer_cat
NV     250
BCC    250
BKL    250
MEL    250
Name: count, dtype: int64

In [18]:
#Extract training dataset by removing test dataset from adjusted dataset
ds_training = pd.concat([dataset_adjusted, ds_test]).drop_duplicates(keep=False)